version: '3.8'

services:
  web:
    build: .
    container_name: bibliotech-web
    ports:
      - "80:80"
    environment:
      - DB_HOST=db
      - DB_NAME=bibliotech
      - DB_USER=root
      - DB_PASSWORD=root
    depends_on:
      - db
    volumes:
      - .:/var/www/html

  db:
    image: mariadb:10.5
    container_name: bibliotech-db
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=bibliotech
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: bibliotech-pma
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8080:80"

volumes:
  db_data:
